@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  height: 100%;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.svg-logo {
  width: 205px;
  height: 40px;
  fill: #3077c6;
}

.svg-night {
  width: 30px;
  height: 40px;
}

.svg-account {
  height: 40px;
  width: 40px;
}

.svg-google {
  width: 140px;
  height: 40px;
}

.svg-apple {
  width: 125px;
  height: 40px;
}

.svg-headphones {
  width: 75px;
  height: 92px;
}

.svg-messages {
  width: 84px;
  height: 84px;
}

.svg-computer {
  width: 100px;
  height: 67px;
  margin-top: 15px;
}

.svg-like {
  width: 92px;
  height: 84px;
}


:root {
  --col-width: calc(100% / 14);
  --white: #fff;
  --yellow: #f5bd41;
  --dark-blue: #10367c;
  --blue: #3077c6;
  --text-color: #383838;
  --secondary-text: #bfbfbf;
  --background-color: #eaf0f9;
  --circle-color: #f3f3f4;
}

.col-lg-1 {
  width: var(--col-width);
}

.col-lg-2 {
  width: calc(var(--col-width) * 2);
}

.col-lg-3 {
  width: calc(var(--col-width) * 3);
}

.col-lg-4 {
  width: calc(var(--col-width) * 4);
}

.col-lg-5 {
  width: calc(var(--col-width) * 5);
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: calc(var(--col-width) * 7);
}

.col-lg-8 {
  width: calc(var(--col-width) * 8);
}

.col-lg-9 {
  width: calc(var(--col-width) * 9);
}

.col-lg-10 {
  width: calc(var(--col-width) * 10);
}

.col-lg-11 {
  width: calc(var(--col-width) * 11);
}

.col-lg-12 {
  width: calc(var(--col-width) * 12);
}

.col-lg-13 {
  width: calc(var(--col-width) * 13);
}

.col-lg-14 {
  width: 100%;
}

.header {
  background-image: url("/images/background.png");
  padding-top: 51px;
  min-height: 100%;
}

.header__container {
  margin: 0 auto;
}

.header__navbar {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
  margin-bottom: 196px;
}

.header__menu {
  display: flex;
}

.header__link:last-child {
  display: none;
}

.header__link {
  margin-left: 24px;
  color: var(--white);
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  position: relative;
}

.header__link:hover::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--yellow);
  width: 50px;
  top: 70%;
  right: 50%;
  transform: translate(50%, 50%);
}

.night:hover::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--yellow);
  width: 50px;
  top: 90%;
  right: 50%;
  transform: translate(50%, 50%);
}

.account:hover::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--yellow);
  width: 50px;
  top: 100%;
  right: 50%;
  transform: translate(50%, 50%);
}

.attractions {
  margin-right: 24px;
  position: relative;
  top: 5px;
}

.stays {
  position: relative;
  top: 5px;
}

.main {
  margin-bottom: 120px;
}

.main__title {
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  color: var(--white);
  white-space: pre-line;
}

.main__subtitles {
  display: flex;
  color: var(--white);
  gap: 221px;
  margin-left: 24px;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 24px;
}

.main_search-form {
  background-color: var(--white);
  border-radius: 8px;
}

.main_input {
  height: 56px;
  border: unset;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-top: 5px;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
}

.main_input::placeholder {
  padding: 24px;
}

.main_input:hover {
  outline: 8px solid var(--yellow);
  margin-right: 3px;
}

.main_button {
  border: none;
  background: var(--blue);
  color: var(--white);
  position: absolute;
  width: 193px;
  height: 61px;
  border-radius: 8px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.main_button:hover {
  opacity: 0.9;
}

.destination-lg {
  width: 467px;
}

.date-lg {
  width: 259px;
}

.people-lg {
  width: 314px;
}

.destination-sm {
  display: none;
}

.checkin-sm {
  display: none;
}

.checkout-sm {
  display: none;
}

.people-sm {
  display: none;
}

.main_input::placeholder {
  padding: 24px;
}

.main_input:hover {
  outline: 3px solid var(--yellow);
  margin-right: 3px;
}

.flex {
  display: none;
}

.download {
  display: flex;
  gap: 13px;
  padding-bottom: 120px;
  padding-left: 580px;
}

.offer__container {
  margin: 120px 105px;
}

.offer__title {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 105px;
  position: relative;
}

.offer__title::after {
  content: "";
  position: absolute;
  height: 4px;
  background-color: var(--yellow);
  width: 100px;
  top: 140%;
  right: 50%;
  transform: translate(50%, 50%);
}

.offer__row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.offer_card {
  grid-column: span 3;
  justify-self: center;
  height: 180px;
  display: grid;
}

.offer_img {
  justify-self: center;
  margin-bottom: 58px;
}

.offer_caption {
  text-align: center;
  font-weight: 400;
  line-height: 28px;
  font-size: 24px;
  color: var(--text-color);
}

.favorites_container {
  padding: 120px 0;
  background-color: var(--background-color);
}

.favorites_title {
  text-align: center;
  margin-bottom: 106px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.favorites_row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  gap: 16px;
  margin: 0 105px;
  position: relative;
}

.favorites_card {
  grid-column: span 3;
}

.favorites_link {
  text-decoration: none;
  color: var(--blue);
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.favorites_link:hover {
  opacity: 0.7;
}

.favorites_img {
  margin-bottom: 24px;
}

.favorites_caption {
  margin-top: 24px;
  color: #bfbfbf;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.favorites_outer-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f3f3f4;
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
}

.favorites_ellipse {
  position: absolute;
  top: 128px;
  left: 1216px;
}

.destinations_container {
  background-color: var(--white);
  margin: 120px 105px;
}

.destinations_title {
  margin-bottom: 105px;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.destinations_button {
  border: unset;
  height: 64px;
  width: 192px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.destinations_btn-group {
  display: flex;
  margin-bottom: 64px;
}

.destinations_button:last-child {
  width: 240px;
  border-radius: 0 8px 8px 0;
}

.destinations_button:first-child {
  border-radius: 8px 0 0 8px;
}

.destinations_button:last-child::before {
  content: "Places of interest";
}

.destinations_button:hover {
  background-color: var(--blue);
  color: var(--white);
}

.destinations_row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 15px;
  margin-bottom: 210px;
}

.destinations_card {
  grid-column: span 3;
}

.destinations_link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--blue);
  margin-bottom: 48px;
  text-decoration: none;
}

.destinations_link:hover {
  opacity: 0.7;
}

.destinations_img {
  margin-bottom: 25px;
}

.destinations_hover {
  display: none;
  background: var(--white);
  border: 1px solid var(--blue);
  border-radius: 8px;
  width: 128px;
  height: 48px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--blue);
}

.island:hover + .destinations_hover {
  display: inline-block;
  position: absolute;
  top: 124px;
  left: 1020px;
}

.norway:hover + .destinations_hover {
  display: inline-block;
  position: absolute;
  top: 124px;
  left: 708px;
}

.spain:hover + .destinations_hover {
  display: inline-block;
  position: absolute;
  top: 124px;
  left: 394px;
}

.maldives:hover + .destinations_hover {
  display: inline-block;
  position: absolute;
  top: 124px;
  left: 84px;
}

.destinations_img:hover {
  box-shadow: 0 4px 70px 0 var(--text-color);
}

.destinations_row {
  position: relative;
}

.destinations_ellipse {
  position: absolute;
  top: 400px;
  left: 595px;
}

.destinations_outer-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--circle-color);
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
}

.signUp_container {
  background: var(--background-color);
  margin:  0 auto;
  display: flex;
  padding: 50px 0 55px 25px;
  gap: 24px;
}

.signUp_sm {
  display: none;
}

.signUp_title {
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.signUp_button {
  width: 128px;
  height: 48px;
  background-color: var(--white);
  color: var(--blue);
  font-size: 18px;
  line-height: 21px;
  border: 1px solid var(--blue);
  border-radius: 8px;
}

.signUp_button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.outer-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 86px;
  background-color: var(--circle-color);
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
}

.signUp-sm {
  display: none;
}

.reviews_container {
  margin: 120px auto;
}

.reviews_title {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 105px;
}

.reviews_title-phone {
  display: none;
}

.reviews_row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}

.reviews_card {
  grid-column: span 4;
  background-color: var(--background-color);
}

.reviews_price-wrapper {
  position: absolute;
  width: 100%;
  background-color: rgb(56 56 56 / 70%);
  height: 48px;
  top: 352px;
}

.reviews_price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
  padding-top: 16px;
  padding-left: 24px;
}

.reviews_card_wrapper {
  padding: 24px;
}

.reviews_description {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}

.reviews_score {
  display: grid;
}

.reviews_account {
  display: flex;
  margin-bottom: 13px;
  gap: 21px;
  padding: 5px 0 5px 5px;
}

.reviews_hotel {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--blue);
  margin-bottom: 16px;
}

.reviews_location {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--blue);
}

.reviews_rating {
  background: var(--dark-blue);
  border-radius: 8px;
  height: 32px;
  width: 48px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  text-align: center;
  margin-bottom: 8px;
  justify-self: end;
}

.reviews_amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-text);
}

.reviews_name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  margin-bottom: 8px;
}

.reviews_citizenship {
  font-size: 18px;
  line-height: 21px;
  color: var(--secondary-text);
}

.reviews_review {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  white-space: pre-line;
}

.reviews_card {
  position: relative;
}

.reviews_ellipse {
  position: absolute;
  top: 180px;
  left: 380px;
}

.reviews_outer-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--circle-color);
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
}

.dots_wrapper {
  display: none;
}

.footer {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  padding: 120px 0;
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.footer__container {
  display: flex;
  padding-left: 105px;
}

.footer_svg-logo {
  display: none;
}

.footer__link-main {
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 24px;
}

.footer__link {
  color: var(--white);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 24px;
}

.footer__col > a {
  text-decoration: none;
}

.footer__subtitle:last-child {
  padding-bottom: 0;
}

.about {
  padding-right: 223px;
}

.property {
  padding-right: 283px;
}

.footer__paragraph {
  padding-top: 64px;
  color: var(--white);
  margin-left: 105px;
  font-size: 14px;
  line-height: 16px;
}

